<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    </head>
<body>
<div class="container">
<p>

    User: <%= name %><br>
	Company: <%= company %> <br>
    Organization: <%= organization %> <br>
        Department: <%= department %> <br>
        Title: <%= title %> <br>
        Description: <%= description %> <br>
        Telephone Number: <%= telephoneNumber %> <br>
        Mail: <%= mail %> <br>
        Physical Delivery Office Name: <%= physicalDeliveryOfficeName %> <br>
        Physical Delivery Office Address: <%= physicalDeliveryOfficeAddress %> <br>
</p>
</body>
</div>
</html>